body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:977px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13928 {
  position:absolute;
  left:9px;
  top:114px;
  width:756px;
  height:240px;
}
#u13929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13929 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13930 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u13931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13931 {
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13932 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u13933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13933 {
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13934 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u13935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13935 {
  position:absolute;
  left:375px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13936 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u13937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13937 {
  position:absolute;
  left:500px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13938 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u13939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u13939 {
  position:absolute;
  left:625px;
  top:0px;
  width:126px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13940 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u13941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13941 {
  position:absolute;
  left:0px;
  top:30px;
  width:125px;
  height:30px;
  color:#75AAD6;
}
#u13942 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u13943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13943 {
  position:absolute;
  left:125px;
  top:30px;
  width:125px;
  height:30px;
}
#u13944 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13945 {
  position:absolute;
  left:250px;
  top:30px;
  width:125px;
  height:30px;
}
#u13946 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13947 {
  position:absolute;
  left:375px;
  top:30px;
  width:125px;
  height:30px;
}
#u13948 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13949 {
  position:absolute;
  left:500px;
  top:30px;
  width:125px;
  height:30px;
}
#u13950 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u13951 {
  position:absolute;
  left:625px;
  top:30px;
  width:126px;
  height:30px;
}
#u13952 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13953 {
  position:absolute;
  left:0px;
  top:60px;
  width:125px;
  height:30px;
  color:#75AAD6;
}
#u13954 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u13955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13955 {
  position:absolute;
  left:125px;
  top:60px;
  width:125px;
  height:30px;
}
#u13956 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13957 {
  position:absolute;
  left:250px;
  top:60px;
  width:125px;
  height:30px;
}
#u13958 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13959 {
  position:absolute;
  left:375px;
  top:60px;
  width:125px;
  height:30px;
}
#u13960 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13961 {
  position:absolute;
  left:500px;
  top:60px;
  width:125px;
  height:30px;
}
#u13962 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u13963 {
  position:absolute;
  left:625px;
  top:60px;
  width:126px;
  height:30px;
}
#u13964 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:145px;
}
#u13965 {
  position:absolute;
  left:0px;
  top:90px;
  width:125px;
  height:145px;
}
#u13966 {
  position:absolute;
  left:2px;
  top:64px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:145px;
}
#u13967 {
  position:absolute;
  left:125px;
  top:90px;
  width:125px;
  height:145px;
}
#u13968 {
  position:absolute;
  left:2px;
  top:64px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:145px;
}
#u13969 {
  position:absolute;
  left:250px;
  top:90px;
  width:125px;
  height:145px;
}
#u13970 {
  position:absolute;
  left:2px;
  top:64px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:145px;
}
#u13971 {
  position:absolute;
  left:375px;
  top:90px;
  width:125px;
  height:145px;
}
#u13972 {
  position:absolute;
  left:2px;
  top:64px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:145px;
}
#u13973 {
  position:absolute;
  left:500px;
  top:90px;
  width:125px;
  height:145px;
}
#u13974 {
  position:absolute;
  left:2px;
  top:64px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:145px;
}
#u13975 {
  position:absolute;
  left:625px;
  top:90px;
  width:126px;
  height:145px;
}
#u13976 {
  position:absolute;
  left:2px;
  top:64px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
  background:inherit;
  background-color:rgba(103, 135, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13977 {
  position:absolute;
  left:18px;
  top:63px;
  width:93px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13978 {
  position:absolute;
  left:2px;
  top:9px;
  width:89px;
  word-wrap:break-word;
}
#u13979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:45px;
  background:inherit;
  background-color:rgba(41, 47, 74, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13979 {
  position:absolute;
  left:0px;
  top:2px;
  width:977px;
  height:45px;
}
#u13980 {
  position:absolute;
  left:2px;
  top:14px;
  width:973px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:16px;
  color:#FAFAFA;
}
#u13981 {
  position:absolute;
  left:9px;
  top:13px;
  width:276px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:16px;
  color:#FAFAFA;
}
#u13982 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u13983 {
  position:absolute;
  left:9px;
  top:114px;
  width:751px;
  height:182px;
  overflow:hidden;
  visibility:hidden;
}
#u13983_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:182px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13983_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13984 {
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:182px;
}
#u13985 {
  position:absolute;
  left:2px;
  top:83px;
  width:964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13986 {
  position:absolute;
  left:35px;
  top:28px;
  width:15px;
  height:16px;
}
#u13987 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13988 {
  position:absolute;
  left:102px;
  top:21px;
  width:169px;
  height:30px;
}
#u13988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u13989 {
  position:absolute;
  left:238px;
  top:23px;
  width:25px;
  height:26px;
}
#u13990 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13991 {
  position:absolute;
  left:446px;
  top:21px;
  width:162px;
  height:30px;
}
#u13991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13991_input:disabled {
  color:grayText;
}
#u13992 {
  position:absolute;
  left:17px;
  top:90px;
  width:77px;
  height:25px;
}
#u13992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13993 {
  position:absolute;
  left:118px;
  top:90px;
  width:77px;
  height:25px;
}
#u13993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13994 {
  position:absolute;
  left:27px;
  top:28px;
  width:57px;
  height:20px;
}
#u13995 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13996 {
  position:absolute;
  left:373px;
  top:28px;
  width:57px;
  height:20px;
}
#u13997 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13998 {
  position:absolute;
  left:9px;
  top:372px;
  width:119px;
  height:34px;
}
#u13999 {
  position:absolute;
  left:2px;
  top:9px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14000 {
  position:absolute;
  left:44px;
  top:372px;
  width:35px;
  height:34px;
}
#u14001 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14002 {
  position:absolute;
  left:79px;
  top:372px;
  width:35px;
  height:34px;
}
#u14003 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u14004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14004 {
  position:absolute;
  left:114px;
  top:372px;
  width:35px;
  height:34px;
}
#u14005 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14006 {
  position:absolute;
  left:149px;
  top:372px;
  width:35px;
  height:34px;
}
#u14007 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u14008 {
  position:absolute;
  left:57px;
  top:384px;
  width:8px;
  height:12px;
}
#u14009 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u14010 {
  position:absolute;
  left:128px;
  top:384px;
  width:8px;
  height:12px;
}
#u14011 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u14012 {
  position:absolute;
  left:21px;
  top:383px;
  width:10px;
  height:13px;
}
#u14013 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u14014 {
  position:absolute;
  left:160px;
  top:383px;
  width:10px;
  height:13px;
}
#u14015 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14016 {
  position:absolute;
  left:206px;
  top:372px;
  width:58px;
  height:34px;
  text-align:left;
}
#u14017 {
  position:absolute;
  left:2px;
  top:9px;
  width:54px;
  word-wrap:break-word;
}
#u14018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u14018 {
  position:absolute;
  left:246px;
  top:385px;
  width:10px;
  height:8px;
  opacity:0.8;
}
#u14019 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14020 {
  position:absolute;
  left:266px;
  top:379px;
  width:38px;
  height:20px;
  opacity:0.8;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14021 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
