body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7704 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:74px;
  width:116px;
  height:30px;
  font-size:16px;
}
#u7704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u7705 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:74px;
  width:120px;
  height:25px;
}
#u7705_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7706 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:74px;
  width:116px;
  height:30px;
  font-size:16px;
}
#u7706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u7707 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:74px;
  width:120px;
  height:25px;
}
#u7707_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7708 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:68px;
  width:115px;
  height:31px;
}
#u7708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u7709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7709 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:68px;
  width:115px;
  height:31px;
}
#u7709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u7710 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:112px;
  width:967px;
  height:60px;
}
#u7711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u7711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u7711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u7712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u7712 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:0px;
  width:157px;
  height:30px;
}
#u7712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u7713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
}
#u7713 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:0px;
  width:222px;
  height:30px;
}
#u7713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:218px;
  word-wrap:break-word;
}
#u7714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:30px;
}
#u7714 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:0px;
  width:257px;
  height:30px;
}
#u7714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:253px;
  word-wrap:break-word;
}
#u7715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u7715 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:0px;
  width:194px;
  height:30px;
}
#u7715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u7716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u7716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:137px;
  height:30px;
}
#u7716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u7717 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:30px;
  width:157px;
  height:30px;
}
#u7717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:30px;
}
#u7718 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:30px;
  width:222px;
  height:30px;
}
#u7718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:30px;
}
#u7719 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:30px;
  width:257px;
  height:30px;
}
#u7719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u7720 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:30px;
  width:194px;
  height:30px;
}
#u7720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:45px;
  background:inherit;
  background-color:rgba(41, 47, 74, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u7721 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:1008px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u7721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1004px;
  word-wrap:break-word;
}
